body {
    background: #111111;
}

h2 {
  color: #e1e1e1;
  text-align: center;
  margin: 1em 1em 2em 1em;
  padding: 1em;
  font-size: 2em;
  font-family: monospace;
  font-weight: 200;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
  }
  
 .container .item {
    margin: 1em 0 3em 0;
    width: 300px;
    height: 200px;
    background-color: #141519;
    padding: 1em;
    font-weight: 700;
    color: white;
    text-align: center;
    border: 1px solid #222222;
    border-radius: 10px;
    background-size: 50px 50px;
    background-image: 
      linear-gradient(to right, rgba(180,180,180,0.25) 0, transparent 1px),
      linear-gradient(to bottom, rgba(180,180,180,0.25) 0, transparent 1px);
    position: relative;
    transition: transform 0.2s ease-in;
  }

.container .grid {
  content: "";
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: radial-gradient(#0000 20%, #1b1b1b 70%, #0000 150%);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.item:hover {
  transform: scale(1.1) translate(0, -5px);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}

.chart {
  color: grey;
}

/* .container .item:nth-child(3n+1) {
    transform: translate(-400px, 0) scale(0);
}

.container .item:nth-child(3n+2) {
    transform: translate(0, 400px) scale(0);
}

.container .item:nth-child(3n+3) {
    transform: translate(400px, 0) scale(0);
}

.container .item.active {
    transform: translate(100, 100) scale(1);
} */
